@media (max-width: 850px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 1.5rem;
    gap: 3rem;
  }

  #main-title {
    align-items: center;
    text-align: center;
  }

  #explain-section {
    display: none;
  }

  #aside-container {
    height: auto;
  }

  #results-list {
    max-height: none;
    overflow-y: visible;
  }
}